* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.flexi-content {
  display: flex;
  place-items: center;
}

.equal-box {
  width: 50%;
} 

.one-third-box{
  width: 33.33%;
}

h1 {
  font-size: 55px;
  font-weight: 700;
  text-transform: capitalize;
  color: #444;
  line-height: 1.2;
}

h3 {
  font-size: 32px;
  text-transform: capitalize;
  color: #666;
  margin-bottom: 20px;
}

.btn {
  text-decoration: none;
  padding: 13px 30px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  text-transform: capitalize;
  background: linear-gradient(45deg, orange, orangered);
  display: inline-block;
  border-radius: 100px;
}

.image-box {
  text-align: center;
}

/* Hero Area CSS  */

.hero-area {
  padding: 50px 0;
}

.hero-area h1 span {
  color: orangered;
}

.hero-area .last-heading {
  margin-bottom: 20px;
}

.hero-area p {
  font-size: 16px;
  line-height: 1.7;
  color: #666;
  padding-right: 130px;
  margin-bottom: 30px;
}

.hero-area img {
  width: 100%;
}

/* About Area CSS */

.about-area {
  background-image: url("images/bg-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
}
.about-area img {
  width: 50%;
}

.about-area p {
  line-height: 1.7;
  padding-right: 20%;
  margin-bottom: 50px;
}

/* My Recipe CSS */

.my-recipe {
  padding: 50px 0;
}

.my-recipe .title-box {
  text-align: center;
}

.my-recipe .title-box p{
  padding: 0 25%;
  line-height: 1.7;
}
